.card {
  margin: auto;
  margin-top: 4rem;
  box-sizing: border-box;
  width: 90%;
  padding: 20px;
  min-height: 20vh;
  background-color: #222831;
  border-radius: 25px;
  border: 5px solid rgb(0, 173, 181, 0.4);
  color: #fff;
  text-align: justify;
  box-shadow: 10px 20px 15px rgb(0, 173, 181, 0.4);
  /* rgb(59, 59, 81, 0.7); */
  line-height: 2.5;
}
