.card {
  margin: 1rem;
  width: 25%;
  box-sizing: border-box;
  min-height: 70vh;
  background-color: #F5F5F5;
  border-radius: 10px;
  font-weight: 600;
  color: #0A1C2D;
  text-align: justify;
  position: relative;
  text-align: center;
  max-height: 70vh;
  overflow-y: auto;
  
}

.card::-webkit-scrollbar {
  display: none;
}

.title {
  background-color: #F5F5F5;
  padding: 10px 0 0 0;
  font-weight: 800;
  font-size: large;
  display: block;
  border-bottom: 1px #e9e4dc solid;

}

.result {
  padding: 5px 10%;
  text-align: justify;
  line-height: 2;
  white-space: pre-line;
}

.time {
  /* position: sticky;
  top: 0; */
  font-size: smaller;
  display: block;
  background-color: #F5F5F5;
  padding: 2px 0;
  border-bottom: 1px #e9e4dc solid;

}

.stickHead {
  position: sticky;
  top: 0;
}

@media (max-width: 820px) {
  .card {
    width: 100%;
    display: block;
  }

  .time {
    top: 94%;
  }
}