.headMain {
  background-color: #e9e4dc;
  padding: 0.5rem;
  text-align: center;
  color: #0a1c2d;
  word-spacing: 5px;
  letter-spacing: 2px;
  box-shadow: 0px 1px 20px 1px #0b0a2d2b;
}

@media (max-width: 450px){
  .headMain{
    font-size: small;
  }
}