.main {
  min-height: 60vh;
  text-align: center;

}
/* .layout {
  display: flex;
  flex-direction: column;

  align-items: center;
  height: 100vh;
  border: 4px solid black;
}

/* .search {
  margin-bottom: auto;
} */
