.main {
    padding: 5rem 3rem 1rem 10rem;
    text-align: left;
}

.msg {
    font-size: 25px;
    letter-spacing: 2px;
    opacity: 0.5;

}

@media (max-width: 820px) {
    .main {
        padding: 2rem;
        margin: auto;
    }

    .msg {
        font-size: 20px;

    }

}