.mainDiv {
    background-color: #222831;
    width: 200px;
    height: 50px;
    padding: 10px;
    margin: 0 1rem;
    color: #FFF;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;

}

.mainDiv:hover {
    transform: scale(104%);
    transition: 0.2s;
}
.mainDiv:active{
    transform: scale(98%);
    transition: 0.2s;
}