.mainSearch {
  width: 90%;
  margin: auto;
  position: fixed;
  bottom: 20px;
  left: 5%;
}

.searchBar {
  font-weight: 500;
  color: #0a1c2d;
  box-sizing: border-box;
  background-color: #f6f4eb;
  box-shadow: 0 0 0 0.15vw rgba(135, 207, 235, 0.186);

  border-radius: 0.4vw;
  border: none;
  outline: none;
  padding: 1rem;
  width: 89%;
  height: 3rem;
  transition: 0.4s;
  vertical-align: middle;
}

.searchBar:hover {
  box-shadow: 0 0 0.4vw rgba(0, 0, 0, 0.5), 0 0 0 0.15vw transparent;
}

.searchBar:focus {
  background-color: #f5f3ec;
  box-shadow: 0 0 0.4vw rgba(0, 0, 0, 0.5), 0 0 0 0.15vw transparent;
}

.searchButton:disabled {
  background-color: #adadad;
  background-image: url("../../public/send.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  border: none;
  border-radius: 10px;
  height: 3rem;
  width: 40px;
  margin: 0 0 0 0.5%;
  vertical-align: middle;
  transition: 0.2s;
  cursor: auto;
  opacity: 0.4;
}


.searchButton:disabled:hover {
  transform: none;
  cursor: auto;
}

.searchButton:not(:disabled) {
  background-color: #858494;
  background-image: url("../../public/send.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 23px;
  border: none;
  border-radius: 10px;
  height: 3rem;
  width: 40px;
  margin: 0 0 0 0.5%;
  vertical-align: middle;
  transition: 0.2s;
  cursor: pointer;
}

.searchButton:hover {
  transform: scale(103%);
  transition: 0.2s;
}

@media (max-width: 450px) {
  .searchBar {
    width: 60%;
  }
}